body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divMainContainer {
  padding: 50px;
}

.imgContainerSearch {
  background-color: lightgrey;
  vertical-align: bottom;
}

.imgContainerCalendar {
  vertical-align: bottom;
}

.divContainer1 {
  width: 400px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: lightgray; 
}

.imgLogoContainer {
  display:block;
  margin:auto;
  padding: 150px;
}


