body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divMainContainer {
  padding: 50px;
}

.imgContainerSearch {
  vertical-align: middle;
  padding-left: 5px;
}

.imgContainerCalendar {
  vertical-align: bottom;
  border-radius: 10%;
}

.divContainer1 {
  width: 217px;
}

.pp {
  border-radius: 10%;
  background-color: whitesmoke;
  width: 30px;
  float: right;
  height: 25px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: whitesmoke; 
}

.imgLogoContainer {
  display:block;
  margin:auto;
  padding: 150px;
}


